@font-face {
    font-family: skarva;
    src: url(Megrim.ttf);
}

* {
    box-sizing:border-box;
}

html, body {
    background-color: #111;
    color: #EEE;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100%;
}

body {
    display: flex;
    min-height: 100%;
}

main {
    width: 100%;
}

a {
    color: #EEE;
    text-decoration: none;
}

article {
    margin-top: 3rem;
    padding: 1rem 4rem 1rem 1rem;
    background-color: #666;
}

p > a {
    text-decoration: underline;
}

footer {
    padding-right: 1rem;
    margin-top: 3rem;
    text-align: right;
    color: #888;
}

#header {
    display: flex;
    flex-direction: column;
    min-width: 25%;
}

#brand {
    font-family: skarva, sans-serif;
    margin: 2rem;
}

#header-nav {
    display: flex;
    flex-direction: column;
}

#header-nav a {
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
}

#nav-white:hover {
    margin-bottom: 0.25em;
    border-bottom: 0.25em solid #FFF;
}

#nav-games:hover {
    margin-bottom: 0.25em;
    border-bottom: #aaff00 solid 0.25em;
}

#nav-dev:hover {
    margin-bottom: 0.25em;
    border-bottom: #6000ff solid 0.25em;
}

.section-title {
    font-family: skarva, sans-serif;
    margin: 2rem;
}

.muted {
    color: #888;
}

.news {
    border-left: #fff solid 0.1em;
}

.game {
    border-left: #aaff00 solid 0.1em;
}

.dev {
    border-left: #6000ff solid 0.1em;
}

.project {
    padding: 0;
    display: flex;
}

.project > img {
    margin-right: 1em;
}

.logo {
    background: #111;
    flex-shrink: 0;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }

    article > div {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #brand {
        margin: 2rem auto;
    }

    #header-nav {
        text-align: center;
    }

    .project {
        flex-direction: column;
    }

    .logo {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }
}
