{% extends 'base.html' %}

{% block content %}
<h1 class="section-title">About</h1>
<section>
    <p>skärva is a small independent group with a non-stop desire to design, create, or enhance in many realms;
        desktop applications, web sites, games, 3D design, photography, and video. Constantly pushing to learn
        more and better their skills, the group is always open to discuss taking on contract work in addition to
        pursuing their own ideas and projects.</p>
    <p>skärva also takes great pride in sharing knowledge and supporting open source software; using it first and
        foremost when possible, and even contribute and advocate how they can. Some of their preferred
        distributions include
        <a href="https://elementary.io">elementaryOS</a> and <a href="https://neon.kde.org">KDE Neon</a>.
    </p>
</section>
{% endblock %}

