{% extends 'base.html' %}

{% block content %}
<h1 class="section-title">Development</h1>
<section>
    <h2 class="section-title">Apps</h2>
    {% for app in apps if app.type == 'app' %}
    <article class="project">
        {% if app.logo %}
        <img src="{{ url_for('static', filename='logos/' + app.logo) }}" class="logo" />
        {% else %}
        <img src="{{ url_for('static', filename='placeholder.png') }}" class="logo" />
        {% endif %}
        <div>
            <h2>{{ app.title }}</h2>
            <h4>{{ app.released }}</h4>
            <p>{{ app.html|safe }}</p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
