{% extends "base.html" %}

{% block content %}
<section>
    {% if 'game' in page.tags %}
    <article class="game">
    {% elif 'development' in page.tags or 'app' in page.tags %}
    <article class="dev">
    {% else %}
    <article class="news">
    {% endif %}
        <h2>{{ page.title }}</h2>
        <h6>{{ page.author }} - {{ page.published }}</h6>
        <p>{{ page.html|safe }}</p>
    </article>
</section>
{% endblock %}
