{% extends "base.html" %}

{% block content %}
<h1 class="section-title">News</h1>
<section>
    {% for article in articles %}
    <a href="{{ url_for('load_path', path=article.path) }}">
    {% if 'game' in article.tags %}
    <article class="game">
    {% elif 'development' in article.tags or 'app' in article.tags %}
    <article class="dev">
    {% else %}
    <article class="news">
    {% endif %}
        <h2>{{ article.title }}</h2>
        <h6>{% if article.author %}{{ article.author }} - {% endif %}{{ article.published }}</h6>
        {% if article.subtitle %}
        <p>{{ article.subtitle }}</p>
        {% endif %}
    </article>
    </a>
    {% endfor %}
</section>
{% endblock %}
