<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}S K Ä R V A{% endblock %}</title>

    <link href="{{ url_for('static', filename='skarva.css') }}" rel="stylesheet"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
<header id="header">
    <h1 id="brand"><a href="{{ url_for('news') }}">SKÄRVA<span class="muted"> .tech</span></a></h1>
    <nav id="header-nav">
        <a id="nav-white" href="{{ url_for('news') }}">News</a>
        <a id="nav-games" href="{{ url_for('games') }}">Games</a>
        <a id="nav-dev" href="{{ url_for('apps') }}">Development</a>
        <a id="nav-white" href="{{ url_for('about') }}">About</a>
    </nav>
</header>
<main>
{% block content %}{% endblock %}
<footer>
    copyright © 2019 skarva llc
</footer>
</main>
</body>
</html>
