{% extends 'base.html' %}

{% block content %}
<h1 class="section-title">Games</h1>
<section>
    <h2 class="section-title">Ports</h2>
    {% for game in games if game.type == 'port' %}
    <article class="project">
        {% if game.logo %}
        <img src="{{ url_for('static', filename='logos/' + game.logo) }}" class="logo" />
        {% else %}
        <img src="{{ url_for('static', filename='placeholder.png') }}" class="logo" />
        {% endif %}
        <div>
            <h2>{{ game.title }}</h2>
            <h4>{{ game.released }}</h4>
            <p>{{ game.html|safe }}</p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
